## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [35]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [36]:
s= "Hi there Sam"

In [37]:
print(s.split())

['Hi', 'there', 'Sam']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [33]:
s="The diameter of {planet} is {dia} kilometers".format(planet="Earth",dia="12742")

In [34]:
print(s)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [30]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [31]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [28]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [29]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [27]:
# tuple is static and list is dynamic

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [25]:
def website_domain(email):
   return email.split('@')[-1]

In [26]:
website_domain('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [17]:
def Dog(stm):
    return 'Dog' in stm.lower().split()

In [ ]:
Dog('there is a dog')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [22]:
def count(stm):
    count=0
    for word in stm.lower().split():
      if word =='dog':
        count+=1
    return count

In [23]:
count('dog is dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

# New section

In [11]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [12]:
caught_speeding(89,False)

'Big Ticket'

In [13]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [1]:
emp_lst={'emp1':20000,'emp2':30000,'emp3':40000,'emp4':50000}
for i in emp_lst:
  print(i,emp_lst[i])
b=sum(emp_lst.values())
print('expenditure:',b)

emp1 20000
emp2 30000
emp3 40000
emp4 50000
expenditure: 140000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [7]:
d1={'Empid':123,'EmpName':'raghulraj','Basicpay':10000}
d2={'DeptName':'ECE','Deptid':1234}
n={**d1, **d2}
print(n)

{'Empid': 123, 'EmpName': 'raghulraj', 'Basicpay': 10000, 'DeptName': 'ECE', 'Deptid': 1234}